<?xml version="1.0" encoding="UTF-8"?>
<persistence version="3.0" xmlns="https://jakarta.ee/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd">
    <persistence-unit name="EADEdunext" transaction-type="RESOURCE_LOCAL">
        <jta-data-source>JNDIEAD</jta-data-source>
        <class>entities.Appointments</class>
        <class>entities.Doctors</class>
        <class>entities.Patients</class>
        <class>entities.Bills</class>
        <class>entities.MedicalRecords</class>
        <class>entities.Medicines</class>
        <class>entities.Prescriptions</class>
        <properties>
            <property name="jakarta.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
            <property name="jakarta.persistence.jdbc.url" value="jdbc:sqlserver://localhost:1433;databaseName=Sem4DB;TrustServerCertificate=true"/>
            <property name="jakarta.persistence.jdbc.user" value="sa"/>
            <property name="jakarta.persistence.jdbc.password" value="123"/>
        </properties>
    </persistence-unit>
</persistence>
